@import "variables";

.country-details-wrapper {
    font-size: .8rem;
}

.country-details {
    margin: 40px -20px 0 ;// gap between flex items
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    // gap between flex items
    & > * {
        margin: 0 20px;
    }

    &__img-container {
        flex: 0.2 1 500px;
        img {
            width: 100%;
        }
    }

    strong {
        font-weight: 700;
    }

    &__right-section {
        flex: 0.3 1 450px;
        display: flex;
        flex-direction: column;
        padding-top: 40px;
    }

    &__info-container {
        margin: -12px; // gap between flex items
        display: flex;
        flex-wrap: wrap;

        // gap between flex items
        & > * {
            margin: 12px;
        }
    }

    &__title {
        margin-bottom: 20px;
    }

    &__info-item {
        margin: 4px 0;
        line-height: 1.3;
    }

    &__general-info {
        flex: 1;
        min-width: 220px;
        display: flex;
        flex-direction: column;
    }

    &__secondary-info {
        flex: 1;
        min-width: 220px;
        display: flex;
        flex-direction: column;
    }

    &__border-countries-container {
        display: flex;
        align-items: center;
        margin-top: 20px;
    }

    &__border-countries {
        margin-right: 15px;
    }

    &__badges {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        font-size: .7rem;
        align-items: center;
    }
}

.back-button {
    border: none;
    border-radius: 3px;
    background-color: var(--primaryBackground);
    color: var(--primaryTextColor);
    box-shadow: $BoxShadow;	
    padding: 8px 30px;

    i {
        margin-right: 10px;
    }
}

.border-badge {
    border-radius: 3px;
    box-shadow: $BoxShadow;	
    background-color: var(--primaryBackground);
    padding: 5px 20px;
    margin: 3px ;
    white-space: nowrap;
}