@import "variables";

// select styles
.custom-select-wrapper {
    position: relative;
    user-select: none;
    width: 200px;
    border-radius: 6px;
    font-weight: 600;
}

.custom-select {
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: $BoxShadow;	
    border-radius: 6px;
}

.custom-select__trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 20px 19px;
    background-color: var(--primaryBackground);
    cursor: pointer;
    border-radius: 6px;
}

.custom-options {
    position: absolute;
    display: block;
    top: calc(100% + 7px);
    left: 0;
    right: 0;
    background-color: var(--primaryBackground);
    box-shadow: $BoxShadow;
    border-radius: 6px;
    transition: all 0.2s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
}

.custom-select.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    overflow: hidden;
}

.custom-option {
    position: relative;
    display: block;
    padding: 0 1rem;
    padding-bottom: 1rem;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
        cursor: pointer;
        // background-color: $LightGray;
    }

    &.selected {
        overflow: hidden;
    }

    &:first-child {
        padding-top: 1rem;
    }
}


// arrow
.arrow {
    position: relative;
    height: 8px;
    width: 8px;

    &::before, &::after {
        content: "";
        position: absolute;
        bottom: 0px;
        width: 0.15rem;
        height: 100%;
    }

    &::before {
        transform: rotate(45deg);
        background-color: var(--primaryTextColor);
    }

    &::after {
        left: 5px;
        transform: rotate(-45deg);
        background-color: var(--primaryTextColor);
    }
}

.open {
    .arrow {
        &::before {
            transform: rotate(-45deg);
        }

        &::after {
            left: 5px;
            transform: rotate(45deg);
        }
    }
}
