@import "variables";

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    color: var(--primaryTextColor);
}

html {
    --primaryBackground: #{$White};
    --secondaryBackground: #{$VeryLightGray};
    --primaryTextColor: #{$VeryDarkBlue2};
    --secondaryTextColor: #{$DarkGray};
}

html[data-theme="dark"] {
    --primaryBackground: #{$DarkBlue};
    --secondaryBackground: #{$VeryDarkBlue};
    --primaryTextColor: #{$White};
    --secondaryTextColor: #{$White};
}

body, #root, .wrapper {
    min-height: 100vh;
}

.header, .main {
    padding-left: calc((100% - 1200px) / 2);
    padding-right: calc((100% - 1200px) / 2);
}

.header {
    position: relative; // to display box-shadow properly
    height: $HeaderHeight;
    box-shadow: $BoxShadow;
    font-size: 0.85rem;
    background-color: var(--primaryBackground);

    &__title {
        font-size: 1.3rem;  
        margin-right: 15px;
        cursor: pointer;
    }
}

.main {
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: 100vh;
    background-color: var(--secondaryBackground);
}

.heading {
    font-weight: 800;

    &--h1 {
        font-size: 1.5rem;
    }

    &--h3 {
        font-size: 1rem;
    }
}

strong {
    font-weight: 800;
}

input {
   padding: 22px 40px 19px 70px;
   border: none;
   border-radius: 5px;
   box-shadow: $BoxShadow;
   font-size: .7rem;
   letter-spacing: 0.02rem;
}

// Container
.container {
    width: calc(100% - 40px);
    max-width: 1200px;
    margin: 0 auto;
}

// Flex containers
.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    &--space-between {
        justify-content: space-between;
    }

    &--align-start {
        align-items: start;
    }
    
    &__item {
      max-width: 100%;
    }
}
  
.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--align-start {
        align-items: start;
    }

    &__item {
        max-width: 100%;
    }
}

.app-container {
    padding: 0 20px;
}

.search-filter-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: -10px -10px 30px;

    & > * {
        margin: 10px 10px;
    }
}

.theme-mode {
    font-weight: 700;
    cursor: pointer;

    i {
        margin-right: 7px
    }
}

.input-wrapper {
    position: relative;
    flex: 1 300px;
    max-width: 400px;

    input {
        box-sizing: border-box;
        width: 100%;
        color: var(--secondaryTextColor);
        background-color: var(--primaryBackground);

        &::placeholder {
            color: var(--secondaryTextColor);
        }
    }

    i {
        color: var(--secondaryTextColor);
        position: absolute;
        left: 30px;
        top: 50%;
        transform: (translateY(-50%));
        cursor: pointer;
    }
}

.main-wrapper {
    font-size: .7rem;
}

.countries-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 45px 45px;
}

@include mobile {
    .header {
        font-size: 0.75rem;
    
        &__title {
            font-size: 1.06rem;  
        }
    }
}
