@import "variables";

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    color: var(--primaryTextColor);
}

html {
    --primaryBackground: #{$White};
    --secondaryBackground: #{$VeryLightGray};
    --primaryTextColor: #{$VeryDarkBlue2};
    --secondaryTextColor: #{$DarkGray};
}

html[data-theme="dark"] {
    --primaryBackground: #{$DarkBlue};
    --secondaryBackground: #{$VeryDarkBlue};
    --primaryTextColor: #{$White};
    --secondaryTextColor: #{$White};
}

body, #root, .wrapper {
    min-height: 100vh;
}

header, main {
    padding-left: calc((100% - 1200px) / 2);
    padding-right: calc((100% - 1200px) / 2);
}

header {
    position: absolute;
    width: 100%;
    height: $HeaderHeight;
    background-color: var(--primaryBackground);
    box-shadow: $BoxShadow;
    font-size: 0.85rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        font-size: 1.3rem;  
        margin-right: 15px;
        cursor: pointer;
    }
}

main {
    padding-top: calc(40px + #{$HeaderHeight});
    padding-bottom: 40px;
    min-height: 100vh;
    background-color: var(--secondaryBackground);
}

h1 {
    font-size: 1.5rem;
    font-weight: 800;
}

h3 {
    font-size: 1rem;
    font-weight: 800;
}

strong {
    font-weight: 800;
}

input {
   padding: 22px 40px 19px 70px;
   border: none;
   border-radius: 5px;
   box-shadow: $BoxShadow;
   font-size: .7rem;
   letter-spacing: 0.02rem;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.app-container {
    padding: 0 20px;
}

.search-filter-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: -10px -10px 30px;

    & > * {
        margin: 10px 10px;
    }
}

.theme-mode {
    font-weight: 700;
    cursor: pointer;
}

.input-wrapper {
    position: relative;
    flex: 1 300px;
    max-width: 400px;

    input {
        box-sizing: border-box;
        width: 100%;
        color: var(--secondaryTextColor);
        background-color: var(--primaryBackground);

        &::placeholder {
            color: var(--secondaryTextColor);
        }
    }

    i {
        color: var(--secondaryTextColor);
        position: absolute;
        left: 30px;
        top: 50%;
        transform: (translateY(-50%));
        cursor: pointer;
    }
}

.main-wrapper {
    font-size: .7rem;
}

.countries-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 45px 45px;
}

@media (max-width: 450px) {
    header {
        font-size: 0.75rem;
    
        h1 {
            font-size: 1.06rem;  
        }
    }
}